@font-face {
    font-family: Archangelsk;
    src: url('../fonts/ofont.ru_Archangelsk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

h1 {
    display: none
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/city';
@import 'blocks/game';
@import 'blocks/monitor';
@import 'blocks/buy';
@import 'blocks/footer';
@import 'blocks/media';
