.buy {
    background: #000;
    &__content {
        display: flex;
        height: 717px;
    }
    &__wrapper {
        padding: 70px 0 70px 0;
        margin-left: 32px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        width: 624px;
        color: #FFF;
        font-family: Archangelsk;
        font-size: 62px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 25px;
    }
    &__set {
        color: #52BEDC;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 15px;
    }
    &__info {
        li {
            padding-left: 40px;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            list-style-type: none;
            margin-bottom: 26px;
        }
    }
    &__platform {
        color: #52BEDC;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 49px;
        margin-bottom: 25px;
        &-images {
            display: flex;
            align-items: center;
            &-top {
                margin-right: 80px;
                margin-bottom: 55px;
            }
            &-bottom {
                margin-right: 80px;
            }
        }
    }

}