.city {
    padding: 70px 0 70px 0;
    &__title {
        color: #000;
        font-family: Archangelsk;
        font-size: 62px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 25px;
    }
    &__descr {
        width: 952px;
        height: 125px;

        color: $text-color;
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 70px;
        span {
            color: #52BEDC;
            font-size: 18px;
            font-style: normal;
            line-height: 34px;
        }
    }
    &__img {
        display: flex;
        &_left-1 {
            margin-bottom: 32px;
            margin-right: 32px;
        }
    }
}