.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 13px 0 13px 0;
    }
    &__left {
        img {
            margin-right: 32px;
        }
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__license {
        margin-right: 32px;
    }
    &__bottom {
        background: #000;
        height: 40px;
        padding: 13px;
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}